doctype html
html
  head
    include includes/head
  body
    include includes/header

    .container
      .page-header
        h1= team.name

    .container
      .main-content
        if team.video
          iframe.embed= team.video
        else
          if team.image
            img= team.image
        p= team.description
    
      .sidebar
        p.pledges= team.pledges
        p.raised= team.raised
        p.goal= team.goal
        div.progress= team.progress
        div.pledge
          a.pledge Pledge Now!
        if team.stats
          p.stats= team.stats out of team.total
        div.social
          a.facebook  
          a.twitter
          a.email
        div.recent_pledges
          p.recent= team.recent

    include includes/footer
